<style>
  #font_target{
    font-family: 'Noto Sans KR', sans-serif;
    }

  *{
    margin: 0;
    padding: 0;
  }

  #header {
    z-index: 99;
    background:white;

    list-style: none;
    position: fixed;
    height:60px;
    width: 100%;
    opacity : 0.7;
  }

  #header ul{
    margin-top:20px;
    margin-right:40px;
  }

  #header>li {
    display: inline-block;
  }

  #header>li>a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
  }

  #header>li>a:hover {
    background: deeppink;
  }

  #header{background-color: white;}

  #header h1{
    float: left;
    margin-top:10px;
    margin-left:60px;
  }

  #header ul{
    color: black;
    float: right;
    padding-right: 0px;
  }

  #header li{
    list-style: none;
    float:left;
    padding-left:10px;
    padding-right:10px;
  }

  .clear{
    clear: both;
    height: 0px;
    overflow: hidden;
    margin: 0px;
  }

    a{
      text-decoration:none;
      color:black;
      }

    li>a:hover{
      font-weight: bold;
      text-decoration:none;
      color:#2b44ad;
      }

    #bottom {
      float:left;
      font-family: 'Noto Sans KR', sans-serif;
      position:absolute;
      margin-left:90%;
      margin-bottom:2%;
    }

  </style>
